body {
	background-color: white;
	font: 12px helvetica, arial, clean, sans-serif;
	text-align: center;
	font-size: 100%;
	text-align: justify;
	width: 45em;
	margin: 2em auto;
	line-height: 1.5em;
}

hr {
	margin: 35px 150px 60px 150px;
	background-color: #999;
	height: 1px;
	border: none;
}

a {
	color: #3a5576;
}

h2 {
	margin-top: 0;
}

h3 {
	margin-top: 0;
}

p {
	margin-top: 0;
	margin-bottom: 1.5em;
}

pre {
	margin: 20px 40px 20px 40px;
}


h1.title {
	color: #a00;
	font-weight: bold;
	margin-bottom: 2em;
	text-decoration: none;
	float: left;
	margin-bottom: 1em;
}
	h1.title a, h1.title a:active {
		text-decoration: none;
		color: #000;
	}


ul.sitelinks {
	list-style-type: none;
	margin-bottom: 1em;
	float: right;
}

	ul.sitelinks li {
		font-weight: bold;
		float: left;
		padding: .5em;
	}
	ul.sitelinks li a {
		text-decoration: none;
	}
	ul.sitelinks li a:hover {
		text-decoration: underline;
	}

.rightinfo {
	margin-left: 155px;
	margin-bottom: 40px;
}

.leftinfo {
	float: left;
	margin-right: 5px;
	margin-bottom: 40px;
}

	.leftinfo img {
		border: none;
	}
