body {
	background-color: #fff;
	font: 13px 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	margin: 0;
	line-height: 1.5em;
	overflow-x
}

hr {
	margin: 45px 150px 70px 150px;
	background-color: #999;
	height: 1px;
	border: none;
}

a {
	color: #3a5576;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h3 {
	margin-top: 0;
}

p {
	margin-top: 0;
	margin-bottom: 1.5em;
}

pre {
	overflow-x: auto;
	padding: 10px 40px 10px 10px;
	margin: 0 0 20px 0;
	font-size: 85%;
	border-left: solid 2px #ccc;
}
code {
	font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
}

blockquote {
	margin: 5px 10px 20px 10px;
	padding: 10px 10px 10px 10px;
	background-color: #e2e1e4;
}
blockquote p {
	margin-bottom: 5px;
}

#page {
	padding-top: 20px;
	margin: auto;
	width: 1000px;
}

#header {
	color: #fff;
	font-size: 15px;
	/*background: #76808a url('../images/background-texture.png') repeat 0 0;*/
	background: #819db9 url('../images/background-texture.png') repeat 0 0;
	width: 100%;
	border-bottom: solid 1px #5a7596;
	-moz-box-shadow: 0px 0px 20px #333;
	-webkit-box-shadow: 0px 0px 20px #333;
	box-shadow: 0px 0px 20px #333;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	z-index: 2;
	min-width: 1000px;
}

#header_content {
	margin: auto;
	width: 1000px;	
}

#content {
	margin: 2em 1em 2em 2em;
}

.with_sidebar {
	float: left;
	width: 675px;
}

#sidebar {
	float: right;
	width: 230px;
	margin: 1em 2em 3em 2em;
}

#footer {
	color: #000;
	padding: 1em 1em 1em 1em;
	border-top: solid 1px #5a7596;
}
	#footer .email {
		float:right;
		margin-right: 20px;
	}


h1.title {
	padding: 0;
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 18px;
}

h1.site {
	font-weight: bold;
	padding: 5px 5px;
	text-decoration: none;
	float: left;
}
	h1.site a, h1.site a:active {
		text-decoration: none;
		color: #fff;
	}
	h1.site a:hover {
		color: #fff;
		/*text-shadow: 1px 1px 8px #3a5576;*/
		text-shadow: 0px 0px 8px #000;
	}
	
.title_thumb {
	width: 50px;
	height: 50px;
	margin: -15px 0;
	border: none;
}


ul.sitelinks {
	list-style-type: none;
	padding: 10px 10px 3px 10px;
	float: right;
	font-size: 1.2em;
}

	ul.sitelinks li {
		font-weight: bold;
		float: left;
		padding: 0 .5em;
	}
	ul.sitelinks li a {
		text-decoration: none;
		color: #fff;
	}
	ul.sitelinks li a:hover {
		color: #fff;
		/*text-shadow: 1px 1px 8px #3a5576;*/
		text-shadow: 0px 0px 8px #000;
	}

.recent_posts {
	margin: 5px 0 20px 10px;
	padding: 0;
	list-style: none;
	display: block;
}
.recent_posts li {
	padding: 6px 0;
}

.rightinfo {
	margin-left: 155px;
	margin-bottom: 40px;
}

.leftinfo {
	float: left;
	text-align: left;
	width: 150px;
	margin-right: 5px;
	margin-bottom: 40px;
}

	.leftinfo img {
		border: none;
	}
	
.post_header {
	margin-top: 0;
	margin-bottom: 2px;
}
.post_date {

}
.post_content {
	margin-top: 1em;
	padding-left: 1em;
}

ul.contact {
	list-style-type: none;
	margin: 0 0 1em 0;
	padding: 0;
}

.cv_header {
	text-align: center;
}
