
@import url("//fonts.googleapis.com/css?family=Merriweather:300,700,300italic");

/* Site Paragraphs */
#content p, #content ul {
	font-size: 110%;
	line-height: 180%;
}

body {
	font-family: "Merriweather","Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: light;
	color: #444;
	/*background-color: #fcfcfc;*/
}

h1, h2 {
	padding-bottom: 0.3em;
}

h1 a, h1 a:active, h1 a:visited, h1 a:hover,
h2 a, h2 a:active, h2 a:visited, h2 a:hover,
h3 a, h3 a:active, h3 a:visited, h3 a:hover {
  text-decoration:none;
  color:#444;
}


#content {
	margin: 4em 2em 1em 340px;
	max-width: 800px;
}

#content ol li {
	padding-bottom: 12px;
}

#content img {
	max-width: 100%;
}

#sidebar {
	position: fixed;
	left: 0;
	top: 0;
	width: 280px;
	margin: 3em 0em;
	text-align: right;
}

h1 {
	font-size: 36px;
}
h2 {
	font-size: 32px;
}

.profile-img {
	width: 150px;
	height: 148px;
	border-radius: 75px;
}

.menu_recent_posts {
	display: none;
}
 
/* Narrow browser */
@media (max-width: 1000px) { 

	#content {
		margin-left: 245px;
	}

	#sidebar {
		width: 200px;
		font-size: 14px;
	}

	.profile-img {
		width: 100px;
		height: 100px;
		margin-right: 10px;
		border-radius: 50px;
	}

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 800px) { 

/*	p {
		font-size: 100%;
		line-height: 140%;
	}
*/
	#content {
		margin-left: 2em;
		margin: 1em;
	}

	#sidebar {
		position: static;
		width: auto;
		margin: 1em 1em 2em 1em;
		font-size: 18px;
		text-align: left;
	}
	.profile-img {
		width: 68px;
		height: 68px;
		margin-right: 10px;
		border-radius: 34px;
		float: left;
	}
	.name {
		font-size: 32px;
		margin-bottom: 5px;
	}
	.sitelinks {
		font-size: 18px;
	}
	.menu_recent_posts {
		display: inline;
	}
	.recent_posts {
		display: none;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { }

hr.end_content {
  margin: 40px auto 50px auto;
  max-width: 300px;
}
	
.title_thumb {
	width: 50px;
	height: 50px;
	margin: -15px 0;
	border: none;
}


.sitelinks {
	margin: 5px 0 20px 10px;
	padding: 0;
	display: block;
}

ul.sitelinks li {
	padding: 6px 0;
}


.recent_posts ul {
	margin: 5px 0 20px 10px;
	padding: 0;
	list-style: none;
	display: block;
}
.recent_posts ul li {
	padding: 6px 0;
}

.rightinfo {
	margin-left: 155px;
	margin-bottom: 40px;
}

.leftinfo {
	float: left;
	text-align: left;
	width: 150px;
	margin: 5px 5px 40px 0;
}

.leftinfo img {
	border: none;
}

/* Landscape phone to portrait tablet */
@media (max-width: 800px) { 
	.rightinfo {
		margin-left: 0;
		margin-bottom: 0;
	}

	.leftinfo {
		float: none;
		width: auto;
		margin: 30px 0 15px 0;
	}
}

.cv_header {
	text-align: center;
}

.divider {
	padding: 0 5px;
}

pre, code {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
}

.highlight pre, .highlight code {
	background-color: #FCFCFC;
}

#dsq-content #dsq-comments .dsq-comment-message { font-size: 18px; }
