---
layout: default
title: Adam Wilson
---

<div>
{% for post in site.posts limit:5 %}
<h2 class="post_header">{{ post.title }}</h2>
<p class="post_info">
  <em class="post_date">{{ post.date | date_to_long_string }}</em> 
  <span class="divider">&middot;</span>
  <a href="{{post.url}}">Go to post</a>
</p>
<div class="post_content">
	{{ post.content }}
  <p>
    <a href="{{post.url}}#disqus_thread" data-disqus-identifier="{{post.url}}">Comments and Reactions</a>
  </p>
</div>
<hr/>
{% endfor %}
</div>

{% include disqus_short.html %}


