---
layout: default
title: Adam Wilson
---

<div class="index">
{% for post in site.posts limit:5 %}
<h1 class="post_header">
<a href="{{post.url}}" class="post_header_link">
  {{ post.title }}
  <br/>
  <small>{{ post.date | date_to_long_string }}</small>
</a>
</h1>
<div class="post_content">
	{{ post.content }}
  <p>
    <a href="{{post.url}}#disqus_thread" data-disqus-identifier="{{post.url}}">Comments and Reactions</a>
  </p>
</div>
<hr class="end_content"/>
{% endfor %}
</div>

{% include disqus_short.html %}

<div class="more">
  <a href="/posts.html">see more posts <i class="fa fa-hand-o-right"></i></a>
</div>


