<div id="sidebar">

  <a href="/">
    <img class="profile-img" src="/images/profile.jpg"/>
  </a>
  <h3 class="name"><a href="/">Adam Wilson</a></h3>
  
  <div class="sitelinks">
    <a href="https://github.com/callawaywilson"><span class="fa fa-github"></span></a> 

    <span class="divider">&middot;</span>
    <a href="/about.html">about</a>
    
    <span class="menu_recent_posts">
      <span class="divider">&middot;</span> 
      <a href="/posts.html">posts</a>
    </span>
  </div>

  <div class="recent_posts">
  	<h4>Recent Posts</h4>
  	<ul>
    	{% for post in site.posts limit:30 %}
    		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
    	{% endfor %}
  		<li><a href="/posts.html">all...</a></li>
  	</ul>	
  </div>

</div>
