.leftinfo, .rightinfo {
  display: block;
}

#sidebar, .noprint {
  display: none;
}

#content {
  margin-left: 0;
}

body, p, h1, h2, h3, h4, h5, h6,
ul, ol, li, blockquote,
.lead, .text-muted {
  color: #000 !important;
}

a, a:visited, a:hover {
  color: #000 !important;
  text-decoration: underline;
}