
h1 a, h1 a:active, h1 a:visited, h1 a:hover,
h2 a, h2 a:active, h2 a:visited, h2 a:hover,
h3 a, h3 a:active, h3 a:visited, h3 a:hover {
  text-decoration:none;
  color:#343a40;
}
h1 a, h2 a, h3 a {
  &:hover {
    color: #4582ec;
    small {
      color: #B7CAEB !important;
    }
  }
}

#page {
  max-width: 1500px;
  margin: auto;
}

#content {
  margin: 2em 2em 1em 340px;
  padding-top: 1em;
  max-width: 1100px;
}

#content ol li {
  padding-bottom: 12px;
}

#content img {
  max-width: 100%;
  &.media-object {
    max-width: inherit;
  }
}

#sidebar {
  position: fixed;
  width: 280px;
  text-align: right;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}

.profile-img {
  width: 150px;
  height: 148px;
  border-radius: 75px;
  margin-bottom: 1rem;
}

.menu_recent_posts {
  display: none;
}

.half-width {
  max-width: 40% !important;
}
 
/* Narrow browser */
@media (max-width: 1000px) { 

  #content {
    margin-left: 245px;
  }

  #sidebar {
    width: 200px;
    font-size: 14px;
  }

  .profile-img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50px;
  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 1000px) { 

/*  p {
    font-size: 100%;
    line-height: 140%;
  }
*/
  #content {
    margin-left: 2em;
    margin: 1em;
  }

  #sidebar {  
    position: inherit;
    width: 100%;
    padding-left: 1rem;
    margin: 1rem 0;
    font-size: 18px;
    text-align: left;
  }
  .profile-img {
    width: 68px;
    height: 68px;
    margin-right: 10px;
    border-radius: 34px;
    float: left;
  }
  .name {
    font-size: 32px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .sitelinks {
    font-size: 18px;
  }
  .menu_recent_posts {
    display: inline;
  }
  .recent_posts {
    display: none;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { }

hr {
  border-top: 1px solid #ddd;
}

hr.end_content {
  margin: 40px auto 50px auto;
  max-width: 150px;
}
  
.title_thumb {
  width: 50px;
  height: 50px;
  margin: -15px 0;
  border: none;
}


.sitelinks {
  margin: 5px 0 20px 10px;
  padding: 0;
  display: block;
}

ul.sitelinks li {
  padding: 6px 0;
}

.recent_posts {
  margin-top: 3em;
}

.recent_posts ul {
  margin: 5px 0 20px 10px;
  padding: 0;
  list-style: none;
  display: block;
}
.recent_posts ul li {
  padding: 6px 0;
}

.rightinfo {
  margin-left: 230px;
  margin-bottom: 40px;
}

.leftinfo {
  float: left;
  text-align: left;
  width: 220px;
  margin: 0 5px 40px 0;
  padding-right: 10px;
}

.leftinfo img {
  border: none;
}

.post_header {
  margin-bottom: 1em;
}

.more {
  text-align: center;
}

.thumbnail {
  .caption {
    p {
      font-size: 90% !important;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 800px) { 
  .rightinfo {
    margin-left: 0;
    margin-bottom: 0;
  }

  .leftinfo {
    float: none;
    width: auto;
    margin: 30px 0 15px 0;
  }
  .media-collapse {
    .media-left {
      display: block;
    }
  }
}

.cv_header {
  text-align: center;
}

.divider {
  padding: 0 5px;
}

pre, code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
}

.highlight pre, .highlight code {
  background-color: #FCFCFC;
}

.cv {
  margin-top: 0;
}

#dsq-content #dsq-comments .dsq-comment-message { font-size: 18px; }
