<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/site.css" type="text/css"/>
	<link rel="stylesheet" media="print" href="/css/print.css">
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />

	<meta name="title" property="og:title" content="{{ page.title }}" />
	<meta name="description" property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	<meta name="image" property="og:image" content="{{ site.url }}/images/profile-poster.png" />
	<meta name="url" property="og:url" content="{{ site.url }}{{ page.url }}" />
	<meta name="type" property="og:type" content="website" />
	{% if page.date %}<meta name="published_time" property="og:published_time" content="{{ page.date | date_to_xmlschema }}" />{% endif %}

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="{{ page.title }}" />
	<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	<meta name="twitter:image" content="{{ site.url }}/images/profile-poster.png" />
	<meta name="twitter:site" content="@{{ site.twitter_username }}" />

	<meta name="viewport" content="width=device-width, initial-scale=0.85">


	<meta charset="utf-8">

	{% include analytics.html %}
</head>

<body>
	<div id="page">

		{% include sidebar.html %}

		<div id="content" class="with_sidebar">
			{{ content }}
		</div>

	</div>

</body>
</html>
