<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/screen.css" type="text/css"/>
	<link rel="stylesheet" href="/css/pygments.css" type="text/css"/>
	<link media="handheld, screen and (max-device-width: 640px)" href="/css/mobile.css" type="text/css" rel="stylesheet" />

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25746028-1']);
	  _gaq.push(['_setDomainName', '.callawaywilson.com']);
	  _gaq.push(['_trackPageview']);	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();	
	</script>
</head>

<body>
	<div id="page">
		<div id="header">
			<h1 class="title">
				<img class="title_thumb" src="/images/profile-poster-thumb.png"/>
				<a href="/index.html">Adam Wilson</a>
			</h1>
			
			<ul class="sitelinks">
				<li><a href="/posts.html">posts</a></li>
				<li><a href="/projects.html">projects</a></li>
				<li><a href="/about.html">about</a></li>
			</ul>
			
			<div style="clear:both;"></div>
		</div>

		<div id="content" class="with_sidebar">
			{{ content }}
		</div>

		{% include sidebar.html %}

		<div style="clear:both;"></div>
		
		<div id="footer">
			Updated {{ site.time | date_to_long_string  }}
			<a class="email" href="mailto:adam@callawaywilson.com">adam@callawaywilson.com</a>
			<div style="clear:both;"></div>
		</div>
	</div>
</body>
</html>