<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/site.css" type="text/css"/>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />

	<meta name="viewport" content="width=device-width, initial-scale=0.85">


	<meta charset="utf-8">

	{% include analytics.html %}
</head>

<body>
	<div id="page">

		{% include sidebar.html %}

		<div id="content" class="with_sidebar">
			{{ content }}
		</div>

	</div>

	<script type="text/javascript">
		var stylesheet = document.createElement('link');
    stylesheet.href = '/css/fonts.css';
    stylesheet.rel = 'stylesheet';
    stylesheet.type = 'text/css';
    document.getElementsByTagName('head')[0].appendChild(stylesheet);
	</script>

</body>
</html>
<noscript><link rel="stylesheet" href="/css/fonts.css"></noscript>
